name: Release

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
     contents: read
     id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Change version
        run: |
          jq '.version = "${{ github.ref_name }}"' package.json > package.new.json
          cp package.new.json package.json
          rm package.new.json

      - name: Release package
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
